@import url('https://fonts.cdnfonts.com/css/anime-ace');
@import url('https://fonts.cdnfonts.com/css/flufflemufflehand');
                
body{
    margin:0;
    padding:0;
    background-image: url('kakashi-hatake-5120x2880-6484.jpg');
    background-repeat: no-repeat;
    background-size:contain;
    background-color : black;
    background-position-x: 450px;
    font-family: 'Copperplate', 'Papyrus', 'fantasy';
    cursor: url('sword.jpg');
}
h1{
    font-family: 'Copperplate', 'Papyrus', 'fantasy';
    font-size: 59px;
    color:gold;
    padding-left: 4rem;
}
.div{
    text-align: center;
    color:white
}
.div ul{
    padding-right: 4rem;
}
li{
    padding: 2rem;
    list-style-type: none;
    font-size: 20px;
    display: inline-block;
    font-weight: 600;
}
li:hover{
    color:gold;
    font-size: 21px;
    transition: 0.4s;
    padding:1.8rem;
}
button{
    font-family:'Anime Ace', sans-serif;
    float: right;
    padding: 0.5rem;
    margin:-5.5rem 4rem;
    width:190px;
    height:60px;
    font-size: 20px;
    font-weight: 600;
    background-color: gold;
    border:4px solid rgb(252, 252, 251);
    border-radius: 30px;
}
button:hover{
    background-color: rgb(253, 253, 253);
    color:black;
    border-color: gold;
    font-size: 25px;
    transition: 0.5s;
    transition-delay: 0.2s;
    width:210px;
    height:65px;
    margin-right: 3.5rem;
}           
.search{
    width:700px;
    height:50px;
    border:4px solid gold;
    border-radius: 30px;
    font-size:25px;
    padding-left: 1rem;
    margin-left: 5rem;
    font-family: 'Anime Ace', sans-serif;
}

.blk{
    background-color: gold;
    width: 350px;
    height:10px;
    border-radius: 5px;
    transform:rotate(90deg);
    margin-top: 240px;
    margin-left:-6rem
}
.intro{
    color:white;
    font-size: 40px;
    width:700px;
    margin-top:-12rem;
    margin-left:8rem;
    font-family: 'FluffleMuffleHand', sans-serif;                                           
}
h2{
    color:gold;
    padding:0 0 1rem 4rem;
    border-bottom: 3px solid white;
    width: 230px;
    border-bottom-right-radius: 25px;
}
h3{
    color:white;
}
h4{
    color:grey;
    font-size: 14px;
}
.mv{
    padding-left: 4rem;
}
.mvlst{
    display:inline-block;
    padding-left: 2.5rem;
}
.mvlst:hover{
    margin-top: -2rem;

}
.mvlst img{
    height:350px;
    width:250px;
    border: 0.1px solid gold;
    border-radius: 10px;
}
.mvlst img:hover{
    border:2.1px solid white;
    height:360px;
    width:255x;
    transition: 0.3s;
}
footer{
    color:gold;
    font-size: 20px;
    text-align: center;
    background-color: rgb(70, 68, 68);
    padding:0.3rem;
}
/***** Global Slide *****/
.slide-right, .slide-top {
    width: 100%;
  }
  
  /***** Slide Right *****/
  .slide-right {
    animation: 3s slide-right;
  }
  @keyframes slide-right {
    from {
      margin-left: -100%;
    }
    to {
      margin-left: 0%;
    }
  }
  
  /***** Slide top *****/
  .slide-top {
    animation: 3s slide-top;
  }
  @keyframes slide-top {
    from {
      margin-top: 50%;
    }
    to {
      margin-top: 0%;
    }
  }